@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@200;300;400;500;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}

.justih .col-lg-4 {
    padding: 0px 5px;
    place-self: center;
}

.locate {
    place-self: center;
    font-weight: 600;
}

.locate a {
    color: black;
}

.branch {
    background-color: black;
}

.locate .branch {
    padding: 15px 25px;
    color: white;
}

.search {
    text-align: center;
    padding: 15px 0px;
}

.search a {
    color: black;
    font-weight: 700;
}

.ayurveda {
    position: absolute;
    font-family: 'Marcellus', serif !important;
    padding: 30px 30px;
    background: rgba(49, 49, 49, 0.5);
    top: 142px;
    right: 0;
}

.ayurveda h1 {
    font-family: 'Marcellus', serif;
    font-size: 45px;
    color: #3f993c;
}

.ayurveda h2 {
    font-family: 'Marcellus', serif !important;
    font-size: 42px;
    color: white;
}

.ayurveda p {
    font-size: 18px;
    color: white;
}

.read {
    color: black;
    font-family: 'Marcellus', serif;
    background-color: #FBFBFB;
    padding: 6px 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.overall {
    font-family: 'Marcellus', serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    margin: 20px 100px;
    text-transform: capitalize;
}

.about {
    font-family: 'Marcellus', serif;
    align-self: center;
    background-color: #313131;
}

.about h2 {
    font-family: 'Marcellus', serif;
    color: white;
}

.about span {
    color: #3f993c;
}

.about p {
    color: #ffffff;
}

.aboutt {
    padding: 40px;
}

.why {
    padding: 50px 0px;
    place-self: center !important;
}

.why h2 {
    font-family: 'Marcellus', serif;
    color: white;
}

.why span {
    font-family: 'Marcellus', serif;
    color: #3f993c;
}

.why p {
    font-family: 'Marcellus', serif;
    color: white;
}

.blur {
    opacity: .6;
    filter: blur(1px);
}

.topp {
    background: rgb(0 0 0 / 70%);
    padding-left: 125px;
    position: relative;
    top: 95px;
}

.mr-100 {
    margin-right: 100px;
}

.why .read {
    background: #313131;
    color: white;
}

.font-20 {
    font-size: 20px;
}

.makes {
    background-color: #313131;
    color: white;
}

.treatment ul li {
    list-style: none;
    font-family: 'Marcellus', serif;
    font-size: 19px;
    padding: 12px 0px;
}

.content {
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
    background: rgb(0 0 0 / 55%);
    width: 100%;
    font-family: 'Marcellus', serif;
}

.content h2 {
    color: white;
    font-family: 'Marcellus', serif;
    font-size: 18px;
    margin-bottom: 2px;
}

.content p {
    color: white;
    font-family: 'Marcellus', serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #3f993c;
}

.care .locate {
    position: absolute;
    padding: 50px;
    right: 0px;
    top: 33%;
    background: rgb(0 0 0 / 55%);
}

.form-control {
    height: 45px;
    background-color: transparent;
}

::placeholder {
    color: rgb(255, 255, 255) !important;
}

.locate span {
    color: white;
    background-color: #3f993c;
    border-color: #3f993c;
    font-weight: 600;
    padding: 8px 30px;
}

.doctor h3,
h4 {
    font-family: 'Marcellus', serif;
}

.check {
    background-color: black;
    font-family: 'Marcellus', serif;
    color: white;
}

.locates {
    left: 10%;
}

.locates p {
    margin-bottom: 5px;
    font-size: 25px;
    color: white;
    font-family: 'Marcellus', serif;
}

.locates .ayt {
    background-color: transparent;
    color: #3f993c;
    padding: 0 !important;
}

footer {
    background-color: #313131;
}

.form-controll {
    height: 42px;
    border-color: #3f993c;
}

.input-group-appendd {
    background-color: #3f993c;
    border: none;
}

.mt-10 {
    margin-top: 100 px;
}

.use {
    color: white;
}

.use ul {
    list-style: none;
    padding: 10px;
    padding-left: 25px;
}

.use ul li {
    padding: 5px 0px
}

.use ul span {
    font-size: 20px;
    font-weight: 900;
    color: #3f993c;
}

.use a {
    color: white;
}

.use h5 {
    padding-left: 25px;
}

.cont {
    color: #3f993c;
    font-size: 20px;
}

.follow {
    color: white;
}

.follow a {
    color: white;
}

.navigationn-ul {
    list-style: none !important;
}

.navigationn-ul .nav-link {
    color: black;
    font-weight: 600;
}

.navigationn-ul .active {
    color: #3f993c !important;
    font-weight: 600;
}

.site-navigationn {
    position: fixed;
    z-index: 10000;
    right: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: none;
}

.closse {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-top: 10px;
    margin-right: 10px;
}

.titile {
    position: absolute;
    font-family: 'Marcellus', serif !important;
    padding: 50px;
    background: rgba(49, 49, 49, 0.5);
    top: 23%;
    left: 25%;
    text-align: center;
    font-family: 'Marcellus', serif !important;
}

.titile h1 {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Marcellus', serif !important;
}

.ayurrr {
    font-family: 'Marcellus', serif !important;
    /* background: linear-gradient(black, black, #3f993c); */
    background: rgba(49, 49, 49, 0.85);
    text-align: justify;
    /* padding: 0px 45px;
    padding-top: 20px; */

    padding: 67px 45px;
    padding-top: 16px;
    margin-top: -25px;

}

.ayurrr h2,
p {
    font-family: 'Marcellus', serif !important;
    color: white;
}

p {
    font-size: 15px;
    margin-bottom: 0px;
}

.imgayur {
    right: 0;
}

.ayurrr2 {
    /* margin-top: 152px;
    z-index: 10;
    padding: 40px; */

    z-index: 10;
    padding: 38px;
    margin-top: -27px;
}

.ayurrr3 {
    /* z-index: 10;
    padding: 20px;
    margin-top: -20px; */

    z-index: 10;
    padding: 35px;
    margin-top: -26px;
}

.mb-200 {
    margin-bottom: 200px;
}

.vision h2 {
    font-family: 'Marcellus', serif !important;
    font-weight: 600;
}

.vision p {
    color: black;
    padding: 26px;
    text-align: center;
}

.contact {
    font-family: 'Marcellus', serif !important;
    color: white;
    background: rgba(49, 49, 49, 0.8);
    padding: 60px;
}

.contact h3 {
    font-family: 'Marcellus', serif !important;
    color: white;
    font-size: 25px;
}

.contact .form-control {
    border: none;
    border-bottom: 1px solid #3f993c;
    border-radius: 0px;
    height: 50px;
}

.btn-primaryy {
    color: rgb(0, 0, 0);
    background-color: #3f993c;
    border-color: #3f993c;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 24px;
}

.touch p {
    color: black;
}

.touch a {
    color: black;
}

.touch {
    margin-top: 75px;
    margin-left: 60px;
    align-self: center;
    text-align: -webkit-left;
}

.touch h4 {
    color: #3f993c;
    font-weight: 600;
}

.ml-20 {
    margin-left: 36px;
}

.withus {
    bottom: 130px;
    position: relative;
    margin-bottom: -130px;
}

.prod {
    font-family: 'Marcellus', serif !important;
    background: rgba(49, 49, 49, 0.7);
    right: 0;
    padding: 70px;
    margin-top: 83px;
    text-align: center;
    line-height: 27px;
}

.calender {
    margin-left: 15px;
    margin-right: -15px;
    padding: 8px 15px;
    background-color: white;
    box-shadow: 5px 5px 18px rgb(0 0 0 / 50%);
}

.calender i {
    color: black;
    font-size: 20px;
}

.appointment h4 {
    font-family: 'Marcellus', serif !important;
    text-decoration: underline;
}

.appointment i {
    color: #3f993c;
    font-size: 23px;
    line-height: 25px;
}

.appoi {
    padding: 9px 25px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.appointment {
    padding: 35px 0px;
    border: 1px solid #d9d9d9;
}

.box-50 {
    box-shadow: 5px 5px 18px rgb(0 0 0 / 5%);
}

.justify-content-center {
    justify-content: center;
}

.searc {

    padding: 30px 0px;
    background: rgb(0 0 0 / 65%);
    text-align: -webkit-center;
}

.searc h3 {
    font-size: 21px;
    color: white;
    font-family: 'Marcellus', serif !important;
}

.searc .input-group {
    width: 70%;
}

.searcc {
    right: 30px;

    padding: 35px 0px;
    background: rgb(0 0 0 / 65%);
    text-align: -webkit-center;
}

.searcc h4 {
    text-decoration-line: UNDERLINE;
    text-decoration-color: #3f993c;
    color: white;
    font-family: 'Marcellus', serif !important;
}

.branch i {
    color: #3f993c;
    font-size: 22px;
}

.branch a {
    color: white;
}

.appoii {
    text-transform: uppercase;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 500;
    background-color: #3f993c;
    font-weight: 600;
}

.box-50 img {
    height: 400px;
    object-fit: cover;
}

.doc-height img {
    height: 400px;
    object-fit: cover;
}

.bottom-50 {
    left: 8%;
    bottom: 5%;
    z-index: 9999;
    /* background: linear-gradient(black, black, #3f993c); */
    background: rgba(49, 49, 49, 0.85);
    /* border-radius: 30px; */
    padding: 15px;
}

.bottom-50 h3 {
    color: white;
    font-family: 'Marcellus', serif;
}

.bottom-50 p {
    font-size: 15px;
}

.bottom-50 .container {
    color: white;
}

.mx-wid {
    max-width: 160px;
}

.akra li {
    font-size: 15px;
}

.akra p {
    font-size: 15px;
    margin-bottom: 5px;
    text-indent: 30px;
}

.akra h5 {
    font-size: 20px;
    margin-bottom: 4px;
}

#popuppp {
    background-color: transparent;
    left: 25%;
    /* bottom: 25%; */
    bottom: 0%;
}

.pop-bg {
    background-color: #22201a;
}

.about-link:hover {
    cursor: pointer;
}

.colr-bg {
    background: rgba(49, 49, 49, 0.9);
    text-align: -webkit-center;
    border-radius: 15px;
    padding: 25px;
}


.posit-absl {

    position: fixed;
    z-index: 1000;
    top: 33%;
    left: 33%;
}

#clo .closse {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#clo {
    cursor: pointer;
}


.ui-widget-content {
    color: white;
    background: rgb(0 0 0 / 65%);
    width: 220px !important;

}

.ui-widget-content li {
    list-style: none;
    padding: 5px 0px;
}

.bookcre p {
    color: black;
    font-size: 15px;


}

.bookcre span {

    font-weight: 600;
}

.img-borrd img {
    border-radius: 50%;
    border: 2px solid #3f993c;
}


.fon-we-600 {
    font-weight: 600;
    margin-bottom: 2px;
}


.place-self-center {

    place-self: center;
}

.box-shadow-19 {
    box-shadow: 5px 5px 18px rgb(0 0 0 / 16%);
    padding: 15px;
    height: 100%;
    /* border-radius: 15px; */
    background: #fff9f7;

}

.img-borrd h6 {
    margin-bottom: 3px;
}

.box-sh {
    box-shadow: 5px 5px 18px rgb(0 0 0 / 16%);
    padding: 20px 0px;
    /* border-radius: 15px; */
}

.colr-bg input {
    color: white;
}

.p-what {
    color: black;
    margin-bottom: 10px;
    text-align: left;
}

.p-what span {
    font-weight: 600;
}

.height-100 {

    height: 100%;

}


.contain {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.item {
    align-items: center;
    background-color: #633d37;
    color: white;
    background: linear-gradient(black, black, #3f993c);
    justify-content: center;
    /* height: 300px; */
    height: 255px;
    padding: 20px 20px;
    /* border-radius: 20px; */
}

.item h6 {
    font-size: 15px;
    text-align: center;
}

.item p {
    font-size: 14px;
    margin-bottom: 0px;
    /* line-height: 18px; */
    line-height: 28px;
    text-align: center;

}

.item {

    text-align: center;
}

.img-rrr {
    border-radius: 50%;
    border: 5px solid WHITE;
}

.namsum {
    display: none;
    position: absolute;
    background: rgb(0 0 0 / 70%);
    bottom: 0;
    color: white;
    right: 0;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 6px 0px;
    text-align: center;
    transition: 0.9s;

    /* border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px; */
}

.namsum p {
    font-size: 13px;
    line-height: 14px;
    padding: 0px 15px;
}

.namsum:hover {
    display: block;
    transition: 0.9s;
}

.namimg:hover+.namsum {
    display: block;

}

.treatemethod-box {
    align-items: center;

    color: white;
    /* background: linear-gradient(black,black,#3f993c); */
    justify-content: center;
    /* height: 300px; */
    height: 308px;
    padding: 20px 20px;
    /* border-radius: 20px; */
}

.MUKHARAKSHA {
    background-image: url(../images/treatement/mukharaksha.jpg);
    background-size: cover;
}

.vajiraksha {
    background-image: url(../images/treatement/vajiraksha\ \(2\).jpg);
    background-size: cover;

}

.dahanaraksha {
    background-image: url(../images/treatement/dahanaraksha.jpg);
    background-size: cover;

}
.kesharaksha {
    background-image: url(../images/treatement/kesharaksha.jpg);
    background-size: cover;
}
.swasaraksha {
    background-image: url(../images/treatement/swasaraksha.jpg);
    background-size: cover;
}
.charmaraksha {
    background-image: url(../images/treatement/charmaraksha.jpg);
    background-size: cover;
}
.manoraksha {
    background-image: url(../images/treatement/manoraksha.jpg);
    background-size: cover;
}
.satwaraksha {
    background-image: url(../images/treatement/satwaraksha.jpg);
    background-size: cover;
}
.deharaksha {
    background-image: url(../images/treatement/deharaksha.jpg);
    background-size: cover;
}

.balaraksha {
    background-size: cover;
    background-image: url(../images/treatement/balaraksha.jpg);
}
.sthreeraksha {
    background-size: cover;
    background-image: url(../images/treatement/sthreeraksha.jpg);
}

.vythiraksha {
    background-size: cover;
    background-image: url(../images/treatement/vydhiraksha.jpg);
}
.siroraksha {
    background-size: cover;
    background-image: url(../images/treatement/siroraksha.jpg);
}
.vataraksha {
    background-size: cover;
    background-image: url(../images/treatement/vataraksha.jpg);
}
.prodirodharaksha {
    background-size: cover;
    background-image: url(../images/treatement/pradhirodharaksha.jpg);
}