{% extends 'official/base.html' %}
{% load static %}
{% block content %}




<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">



<div class="container">
  <h3 style="color: #3f993c;" class="text-center">Doctor List <span onclick="formclr()" class="adnew"><a href="#contact"><i
          class="bi bi-plus-circle mr-2"></i>Add New</a></span> </h3>
  <div class="row">


    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>register_number</th>
          <th>name</th>
          <th>image</th>
          <th>qualification</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for doctorlist in doctorlist %}
        <tr>
          <td>{{doctorlist.register_number}}</td>
          <td>{{doctorlist.name}}</td>
          <td>
            <img width="40px" height="40px" src="{{doctorlist.image.url}}" alt="">
          </td>
          <td>{{doctorlist.qualification}}</td>
          
          <td>
            <div class="acti" id="{{doctorlist.id}}">
              <a href="#contact"><i onclick="editt('{{doctorlist.id}}',this)" class="bi bi-pencil-square"></i></a>
              <a> <i onclick="deletdoct('{{doctorlist.id}}')" class="bi bi-trash ms-3 ng-red"></i> </a>
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>register_number</th>
          <th>name</th>
          <th>image</th>
          <th>qualification</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>


  

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">


      <h3 id="titedit" class="text-center">Add Doctor</h3>

      

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
        <div class="col-xl-9 col-lg-12 mt-4">
          <form action="" method="POST" class="ajax reload" enctype="multipart/form-data" id="resform">
            {% csrf_token %}
            <input type="hidden" value="0" id="disID" name="id">
            <div class="row">
              <div class="col-md-6 form-group">
                {{doctorform.name}}
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                {{doctorform.register_number}}
              </div>
            </div>
            <div class="form-group mt-3">
             <p  id="curr" class="mb-0 ml-3 ">Currently : <span id="img-dott">Photo</span></p> 
              {{doctorform.image}}
            </div>
            <div class="form-group mt-3">
                {{doctorform.qualification}}
              </div>

            

            
           
           
            <div class="my-3">

            </div>
            <div class="text-center">
              <button class="btn btn-danger" type="submit">Submit</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->


  
  {% endblock %}

  
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
  
    
  
  $(document).ready(function () {
    $('#example').DataTable();
    $("#curr").hide()


    $("#image").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img-dott').html('<img width="40px" height="40px" src="'+ e.target.result+'" alt="">');   
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

  });
</script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

  function formclr() {
    $("#titedit").html("Add Doctor");
    $("#resform").trigger("reset")
    $("#curr").hide()
    
  }

  function deletdoct(ids) {
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this Data!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          $.ajax({
            url: "/official/deletdoct/"+ids,
            type: "GET",
            success: function (response) {
              $('#' + ids).closest('tr').remove()
            }

          })
        } else {
          swal("Your imaginary file is safe!");
        }
      });
  }

  function editt(id, thisProp) {
    $("#titedit").html("Edit Doctor" + "<span onclick='formclr()' class='adnew'><a href='#contact'><i class='bi bi-plus-circle mr-2'></i>Add New</a></span>");
    $("#curr").show()

    var registernumber = $(thisProp).closest('tr').find("td:eq(0)").html();
    var name = $(thisProp).closest('tr').find("td:eq(1)").html();
    var qualification = $(thisProp).closest('tr').find("td:eq(3)").html();
    var image = $(thisProp).closest('tr').find("td:eq(2)").html();
    


    $('#registernumber').val(registernumber)
    $('#name').val(name)
    $('#qualification').val(qualification)
    $('#image').attr('value', image).append(image)
    $('#img-dott').html(image)

    $('#disID').val(id)

    


  }



</script>
{% endblock %}