{% extends 'official/base.html' %}
{% load static %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">



<div class="container">
  <h3 style="color: #3f993c;" class="text-center">Schedule List <span onclick="formclr()" class="adnew"><a href="#contact"><i
          class="bi bi-plus-circle mr-2"></i>Add New</a></span> </h3>
  <div class="row">


    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>treatment</th>
          <th>branch</th>
          <th>doctor</th>
          <th>day</th>
          <th>start_time</th>
          <th>end_time</th>
          <th>Action</th>
          <th hidden>schedulelist branch id</th>
          <th hidden>schedulelist doctor id</th>
        </tr>
      </thead>
      <tbody>
        {% for schedulelist in schedulelist %}
        <tr>
          <td>{{schedulelist.treatment}}</td>
          <td>{{schedulelist.branch}}</td>
          <td>{{schedulelist.doctor}}</td>
          <td>{{schedulelist.day}}</td>
          <td>{{schedulelist.start_time}}</td>
          <td>{{schedulelist.end_time}}</td>
          <td hidden>{{schedulelist.branch.id}}</td>
          <td hidden>{{schedulelist.doctor.id}}</td>
          
          
          <td>
            <div class="acti" id="{{schedulelist.id}}">
              <a href="#contact"><i onclick="editt('{{schedulelist.id}}',this)" class="bi bi-pencil-square"></i></a>
              <a> <i onclick="deletsched('{{schedulelist.id}}')" class="bi bi-trash ms-3 ng-red"></i> </a>
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>treatment</th>
          <th>branch</th>
          <th>doctor</th>
          <th>day</th>
          <th>start_time</th>
          <th>end_time</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

  

    <h3 id="titedit" class="text-center">Add Schedule</h3>



    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
      <div class="col-xl-9 col-lg-12 mt-4">
        <form action="" method="POST" class="ajax reload" id="resform">
          {% csrf_token %}
          <input type="hidden" value="0" id="disID" name="id">
          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 form-group place-self-center">
              <label for="treatment">Treatment : </label>
            </div>
            <div class="col-md-8 form-group mt-3 mt-md-0">
              {{scheduleform.treatment}}
            </div>
          </div>
          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 form-group place-self-center">
              <label for="branch">branch : </label>
            </div>
            <div class="col-md-8 form-group mt-3 mt-md-0">
              {{scheduleform.branch}}
            </div>
          </div>
          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 form-group place-self-center">
              <label for="doctor">doctor : </label>
            </div>
            <div class="col-md-8 form-group mt-3 mt-md-0">
              <div class="row">
                <div class="col-12">{{scheduleform.doctor}}</div>
              </div>
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 form-group place-self-center">
              <label for="start_time">Day : </label>
            </div>
            <div class="col-md-8 form-group mt-3 mt-md-0">
              {{scheduleform.day}}
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 form-group place-self-center">
              <label for="start_time">start_time : </label>
            </div>
            <div class="col-md-8 form-group mt-3 mt-md-0">
              {{scheduleform.start_time}}
            </div>
          </div>
          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 form-group place-self-center">
              <label for="end_time">end_time : </label>
            </div>
            <div class="col-md-8 form-group mt-3 mt-md-0">
              {{scheduleform.end_time}}
            </div>
          </div>








          <div class="my-3">

          </div>
          <div class="text-center">
            <button class="btn btn-danger" type="submit">Submit</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->







{% endblock %}
{% block javascript %}


<!-- edit delete -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
  
    
  
  $(document).ready(function () {
    $('#example').DataTable();

  });
</script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

  function formclr() {
    $("#titedit").html("Add Doctor");
    $("#resform").trigger("reset")
    
    
  }

  function deletsched(ids) {
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this Data!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          $.ajax({
            url: "/official/deletsched/"+ids,
            type: "GET",
            success: function (response) {
              $('#' + ids).closest('tr').remove()
            }

          })
        } else {
          swal("Your imaginary file is safe!");
        }
      });
  }

  function editt(id, thisProp) {
    $("#titedit").html("Edit Schedule" + "<span onclick='formclr()' class='adnew'><a href='#contact'><i class='bi bi-plus-circle mr-2'></i>Add New</a></span>");
    

    var treatment = $(thisProp).closest('tr').find("td:eq(0)").html();
    var branch = $(thisProp).closest('tr').find("td:eq(1)").html();
    var doctor = $(thisProp).closest('tr').find("td:eq(2)").html();
    var day = $(thisProp).closest('tr').find("td:eq(3)").html();
    var starttime = $(thisProp).closest('tr').find("td:eq(4)").html();
    var endtime = $(thisProp).closest('tr').find("td:eq(5)").html();
   
    var branchID = $(thisProp).closest('tr').find("td:eq(6)").html();
    var docID = $(thisProp).closest('tr').find("td:eq(7)").html();
    


    $('#treatment').val(treatment)
    $('#branid').val(parseInt(branchID))
    $('#doctid').val(parseInt(docID))
    $('#day').val(day)
    $('#starttime').val(starttime)
    $('#endtime').val(endtime)
    
    $('#disID').val(id)

    


  }



</script>


<!-- edit delete -->




<script>
  $('#doctid').change(function () {
    $('#slugid').val($(this).val())
  });
</script>


<script>
  $('#branid').children().first().remove();
  $("<option selected>--Select Branch--</option>").insertBefore($('#branid option:first-child'));

  $('#doctid').children().first().remove();
  $("<option selected>--Select Doctor--</option>").insertBefore($('#doctid option:first-child'));



</script>

{% endblock %}