{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OFFICIAL - AYUCARE </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'official/assets/img/favv.png' %}" rel="icon">
  <link href="{% static 'official/assets/img/favv.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'official/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'official/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'official/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'official/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'official/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'official/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- AYUCARE Main CSS File -->
  <link href="{% static 'official/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">

      

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a
            href="mailto:contact@example.com">info@ayucare.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9876543210</span></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center">
        <a href="#" class="scrollto d-none">Get Started</a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{% url 'official:log_in' %}">AYUCARE OFFICIAL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#"><img src="{% static 'official/assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar"> 
        <ul>
          <li><a class="nav-link scrollto {% if is_addDistrict %}active{% endif %}" href="{% url 'official:addDistrict' %}">Add District</a></li>
          <li><a class="nav-link scrollto {% if is_addBranch %}active{% endif %}" href="{% url 'official:addBranch' %}">Add Branch</a></li>
          <li><a class="nav-link scrollto {% if is_addDoctor %}active{% endif %}" href="{% url 'official:addDoctor' %}">Add Doctor</a></li>
          <li><a class="nav-link scrollto {% if is_addSchedule %}active{% endif %}" href="{% url 'official:addSchedule' %}">Add Schedule</a></li>
          <li><a class="nav-link scrollto {% if is_gallery %}active{% endif %}" href="{% url 'official:addGallery' %}">Add Gallery</a></li>
          <li><a class="nav-link scrollto {% if is_testimonial %}active{% endif %}" href="{% url 'official:addTestimonial' %}">Testimonial</a></li>
          

          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'official:logout' %}">Logout</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">



{% block content %}

{% endblock %}


    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AYUCARE</h3>
            <p>
               
              <strong>Phone : </strong>9876543210<br>
              <strong>Email : </strong>info@ayucare.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div> -->

    <div class="container d-lg-flex py-4">

      <div class="me-lg-auto text-center text-lg-start">
        <div class="copyright">
          &copy; Copyright <strong><span>AYUCARE</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://gedexo.com/">Gedexo</a>
        </div>
      </div>
      <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
  <script src="{% static 'official/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'official/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'official/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'official/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'official/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>


  <script>
    $(document).on('submit', 'form.ajax', function (e) {
      e.preventDefault();
      var $this = $(this);
      var data = new FormData(this);
      var action_url = $this.attr('action');
      var reset = $this.hasClass('reset');
      var reload = $this.hasClass('reload');
      var redirect = $this.hasClass('redirect');
      var redirect_url = $this.attr('data-redirect');

      $.ajax({
        url: action_url,
        type: 'POST',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        dataType: "json",

        success: function (data) {

          var status = data.status;
          var title = data.title;
          var message = data.message;
          var pk = data.pk;

          if (status == "true") {
            if (title) {
              title = title;
            } else {
              title = "Success";
            }

            Swal.fire({
              title: title,
              html: message,
              icon: 'success',
            }).then(function () {
              if (redirect) {
                window.location.href = redirect_url;
              }
              if (reload) {
                window.location.reload();
              }
              if (reset) {
                window.location.reset();
              }
            });

          } else {
            if (title) {
              title = title;
            } else {
              title = "An Error Occurred";
            }
            Swal.fire({
              title: title,
              html: message,
              icon: "error"
            });

          }
        },
        error: function (data) {
          var title = "An error occurred";
          var message = "something went wrong";
          Swal.fire({
            title: title,
            html: message,
            icon: "error"
          });
        }
      });
    });
  </script>
  <!-- AYUCARE Main JS File -->
  <script src="{% static 'official/assets/js/main.js' %}"></script>


  <script>

$(window).ready(function() {
    $("#btn-geolocation").click(findLocation);
  });

  function findLocation() {
    navigator.geolocation.getCurrentPosition(getCoords, handleErrors);
  }

  function getCoords(position) {
    $(".lat").val(position.coords.latitude);
    $(".lon").val(position.coords.longitude);
  }

  function handleErrors(error) {
    switch (error.code) {
      case error.PERMISSION_DENIED:
        alert("You need to share your geolocation data.");
        break;

      case error.POSITION_UNAVAILABLE:
        alert("Current position not available.");
        break;

      case error.TIMEOUT:
        alert("Retrieving position timed out.");
        break;

      default:
        alert("Error");
        break;
    }
  }

  </script>

{% block javascript %}

{% endblock %}



</body>

</html>