{% extends 'web/base.html' %}
{% load static %}
{% block content %}



<style>
    .gm-style .gm-style-iw-c {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        top: 0;
        left: 0;
        transform: translate3d(-50%, -100%, 0);
        background-color: white;
        border-radius: 8px;
        padding: 12px;
        box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
        display: none;

    }

    .gm-style .gm-style-iw-t::after {
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
        box-shadow: -2px 2px 2px 0 rgb(178 178 178 / 40%);
        content: "";
        height: 15px;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 15px;
        display: none;
    }
</style>

<div class="container-fluid branchh">
    <div class="row text-center">
        <div class="col-lg-12 col-12 p-0 position-relative doct">

            {% include 'web/map.html' %}

        </div>


        <div class="col-lg-3 col-md-6 col-sm-12 col-12 position-absolute searc ">
            <h3>Search in District</h3>
            <div class="input-group">

                <input id="auto" type="text" class="form-control form-controll" placeholder="District"
                    aria-label="Locate us" aria-describedby="basic-addon2">

                <div class="input-group-append">
                    <span class="input-group-text input-group-textt"
                        style="background-color:#3f993c; border-color: #3f993c;" id="basic-addon2"><span
                            class="iconify input-group-textt" data-icon="fluent:search-28-filled"></span></span>
                </div>
            </div>


        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 position-absolute searcc branch ">
            <h4>Branch Details</h4>


            <div class="row pl-5">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 p-0"><i class="icofont-building"></i></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-10 p-0">
                    <p id="branchname" style="color: white; text-align: left;"> <span
                            style="font-weight: 500;">Maliyekkal
                            Medicals,</span> <br>Kondotty,<br>Kerala - 673 678</p>
                </div>
            </div>
            <div class="row pl-5">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 p-0"><i class="icofont-email"></i></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-10 p-0">
                    <p id="branchphone" style="color: white; text-align: left;"> <span style="font-weight: 500;"> <a
                                href="mailto:booking@ayucare.com">booking@ayucare.com</a> </span>
                </div>
            </div>
            <div class="row pl-5">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 p-0"><i class="icofont-ui-call"></i></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-10 p-0">
                    <p id="branchlocation" style="color: white; text-align: left;"> <span style="font-weight: 500;"> <a
                                href="tel:+919846272655">(+91) 9846 272 655</a> </span>
                </div>
            </div>
            <p id=""></p>

            <a id="brannid"> <button style="background-color: #3f993c !important;" class="read check appoii mt-1">Book
                    Appoinment</button> </a>




        </div>


    </div>
</div>




<div class="container-fluid care ">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0 ">
            <img class="loc-sm " style="position: relative; " src="{% static 'web/images/suscribe.png' %} "
                width="100% " alt=" ">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 locate locates ">
                <p>Stay in Touch with us</p>
                <p class="mb-3 ">Know more about <span class="ayt ">Ayucare</span> </p>


                <form action="{% url 'web:email' %}" method="POST" class="ajax reload">
                    {% csrf_token %}
                    {{ email_form.email }}
                    <button type="submit" class="btn read mt-2">Subscribe</button>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}


<script src="https://code.jquery.com/jquery-1.12.4.js">
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
</script>


<script type="text/javascript">


    $(document).ready(function () {

        loadmap('11.2697233','76.2467868',7)
        var itemsID = [
        ];
        var items = [
        ];
        
        $.ajax({
            url: "/districtsr/",
            type: "GET",
            success: function (response) {
                data = [response]

                $.each(response, function (i, item) {
                    items.push(item.name)
                    itemsID.push([item.id,item.name,item.latitude,item.longitude])
                    
                });
                
                

                $("#auto").autocomplete({
                    source: items 
                });
            }

        })

        $("#auto").keyup(function () {
            if ($.inArray($("#auto").val(), items) != -1) {
                var lat=''
                var log=''
                $.each(itemsID, function (i, item) {
                    
                   if(item[1]==$("#auto").val()){
                    lat=item[2]
                    log=item[3]
                   }
                   
               });
                loadmap(lat,log,10)
            }
        })



    })
</script>

<!-- <script>
    $(document).ready(function () {
        // array of items.
        var items = [
            
        ];
        // jQuery inbuild function
        $("#auto").autocomplete({
            source: items // list of items.
        });
    })
</script> -->



<script type="text/javascript">
    function loadmap(lat,log,zoom) {
        
        $.ajax({
            url: "/branchmark/",
            type: "GET",
            success: function (response) {
                data = [response]
                var locations = [

                ];
                $.each(response, function (i, item) {
                    locations.push([item.name, item.latitude, item.longitude, item.id, item.phone, item.location])


                });

                
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: zoom,

                    center: new google.maps.LatLng(lat, log),

                    // center: new google.maps.LatLng(-33.92, 151.25),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {

                        return function () {
                            infowindow.setContent(locations[i][3] + branchclk(locations[i][3]));
                            infowindow.open(map, marker);
                        }
                    })(marker, i));


                    function branchclk(ids) {

                        var datas = locations.find(x => x[3] === ids);

                        $('#branchname').html(datas[0])
                        $('#branchphone').html(datas[4])
                        $('#branchlocation').html(datas[5])

                        $("#brannid").click(function () {
                            location.href = '/branchbook/' + ids + '/'

                        })

                        $('.branch').show();


                    }

                    $(document).mouseup(function (e) {
                        var container = $(".branch");
                        // if the target of the click isn't the container nor a descendant of the container
                        if (!container.is(e.target) && container.has(e.target).length === 0) {
                            container.hide();
                        }
                    });
                }
            }

        })
    }
</script>

<script>
    $('.branch').hide();
</script>






{% endblock %}